@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

$fe2: 'Exo 2';

* {
  padding: 0;
  margin: 0;
}

body {
  // overflow: hidden;
  background: #000;
  color: #fff;
  font-family: $fe2;
}

.bg {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('../sources/Hexagons.svg');
}

.hover-light {
  position: absolute;
  top: -100vw;
  left: -100vw;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 550px;
  background: 
    radial-gradient(
        circle,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.08) 50%,
        rgba(255, 255, 255, 0.01) 80%,
        rgba(255, 255, 255, 0) 90%);
  border-radius: 50%;
  // box-shadow: inset 0 0 20px 10px transparent;
  filter: blur(5px);
}